<a href="https://colab.research.google.com/github/yuricholalenoh/PSDS_3/blob/main/Yuricho_lalenoh_2000015015_M2P2V3_Konversi_Struktur_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data

a. `list()` : untuk mengubah menjadi list

b. `tuple()` : untuk mengubah data menjadi tuple
 
c. `set()` : untuk mengubah data menjadi set

d. `dict()` : untuk mengubah data menjadi dictionary

###Mengkonversi tipe data list:

In [1]:
#Membuat 2 list
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

In [3]:
#Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1, L2))
# Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

###Mengkonversi tipe data tuple:

In [4]:
# Membuat dua tuple
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [6]:
# Mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dic = dict(zip(T1, T2))
#Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dic)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

###Mengkonversi tipe data set:

In [7]:
# Membuat dua set
S1 = {1, 2, 3, 4}
S2 = {5, 6, 7, 8}

In [8]:
# Mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1,S2))
#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

###Mengkonversi tipe data dictionary:

In [9]:
# Membuat dictionary
D = {
    "nama": "Andi",
     "alamat": "Yogyakarta",
     "umur": 20
}

In [10]:
# Mengkonversi struktur data dictionary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
#Melihat data yang  telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'nama', 'alamat', 'umur'}

###Latihan

In [11]:
# Lakukan konversi struktur data yang kalian buat pada notebook-notebook
#sebelumnya menjadi list, tuple, set, dan dictionary (masing-masing satu)

In [14]:
#Koversi tipe data list
A = ['matematika', 'fisika', 'kimia', 'biologi']
B =[ 6, 7, 8, 9]

#konversi menjadi data lain
data_tuple = tuple(A)
data_set = set(B)
data_dict = dict(zip(A,B))
#melihat hasil data baru
print(data_tuple)
print(data_set)
print(data_dict)

('matematika', 'fisika', 'kimia', 'biologi')
{8, 9, 6, 7}
{'matematika': 6, 'fisika': 7, 'kimia': 8, 'biologi': 9}

In [16]:
#Konversi tipe data tuple
A = ('matematika', 'fisika', 'kimia', 'biologi')
B = (6, 7, 8, 9)

#konversi menjadi data lain
data_list = list(A)
data_set = set(B)
data_dict = dict(zip(A,B))
#melihat hasil data baru
print(data_list)
print(data_set)
print(data_dict)

['matematika', 'fisika', 'kimia', 'biologi']
{8, 9, 6, 7}
{'matematika': 6, 'fisika': 7, 'kimia': 8, 'biologi': 9}

In [18]:
#Konversi tipe data set
A = {'matematika', 'fisika', 'kimia', 'biologi'}
B = {6, 7, 8, 9}

#konversi menjadi data lain
data_list = list(A)
data_tuple = tuple(B)
data_dict = dict(zip(A,B))
#melihat hasil data baru
print(data_list)
print(data_tuple)
print(data_dict)

['kimia', 'biologi', 'matematika', 'fisika']
(8, 9, 6, 7)
{'kimia': 8, 'biologi': 9, 'matematika': 6, 'fisika': 7}

In [21]:
#Konversi tipe data dictionary
A = {'matematika':6, 'fisika':7, 'kimia':8, 'biologi':9}
#konversi menjadi data lain
data_list = list(A.keys())
data_tuple = tuple(A.values())
data_set = set(A.keys())
#melihat hasil data baru
print(data_list)
print(data_tuple)
print(data_set)

['matematika', 'fisika', 'kimia', 'biologi']
(6, 7, 8, 9)
{'kimia', 'biologi', 'matematika', 'fisika'}