<a href="https://colab.research.google.com/github/yuricholalenoh/PSDS_3/blob/main/Yuricho_Lalenoh_2000015015_M2P2V1_Struktur_Data_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Set

Set adalah kumpulan item bersifat unik dan tanpa urutan (unnordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma. Pada set kita dapat melakukan onion dan intersection, sekaligus otomatis melakukan penghapusan data duplikat.

In [1]:
#Contoh Set
S1 = {1, "dua", True, 2+3j}

print(type(S1))

<class 'set'>

In [2]:
#Sifat-sifat set

#Tidak terurut/Unordered
print("Memanggil set S1 dengan indeks urutan:", S1[0:3])

TypeError: ignored

In [3]:
#Tidak Bisa Diganti/Immutable
S1[1] = 2
print("Set S1 setelah diganti elemennya:", S1)

TypeError: ignored

In [4]:
S1 = {1, "dua", True, 2+3j}

#Tidak Dapat Diindeks/Slicing
print("Slicing Set S1:", S1[3])

TypeError: ignored

In [6]:
#Dapat Diijinkan Duplikasi
S1 = {1, "dua", True, True, 2+3j, 2+3j} #Boolean tidak diterbaca atau dianggap tidak ada
print("Duplikasi pada Set S1:", S1)

Duplikasi pada Set S1: {1, (2+3j), 'dua'}

###Latihan

In [ ]:
#Buatlah struktur data set mu sendiri

In [8]:
data_set1 = {1, 3, 5, 9, 9}
print(data_set1)

{1, 3, 5, 9}

In [9]:
data_set2 = {True, "apel", 3.6}
print(data_set2)

{'apel', True, 3.6}